*{
    background-color: gray;
}

li{
    margin: 6px;
    padding: 6px;
    border-radius: 12px;
    list-style: none;
    background-color: #9400D3;
    width: 150px;
    color: white;
}

li:hover{
    background-color: #d980ff;
}

button{
    background-color: green;
}